body {
    background-color: #111;
    color: aliceblue;
}

table {
    margin-left: auto;
    margin-right: auto;
}

* {
    font-family: "Lato";
    text-align: center;
}

.tab {
    width: 200px;
    height: 75px;
    font-weight: bolder;
    font-size: 25px;
    background-color: white;
    border: 4px solid black;
    border-radius: 20px;
    display: inline-block;
}

.layerbutton {
    width: 90%;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid;
    border-radius: 20px;
    display: inline-block;
}

.upgrade {
    width: 150px;
    height: 150px;
    border: 3px solid;
    border-radius: 20px;
}

.challenge {
    width: 300px;
    height: 150px;
    border: 3px solid;
    border-radius: 20px;
    position: relative; 
    display: inline-block;
    cursor: pointer;
}

.bought {
    background-color: #0B0;
}

.achievement {
    width: 30px;
    height: 30px;
    border: 3px solid;
    border-color: white;
    position: relative; 
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden; /*Yes I did copy and paste this all*/
    opacity: 0;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
}

.hover-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#spaghetti button {
    background-color: skyblue;
    color: black;
    border-color: black;
}

#invisible button {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

#solarspaghetti button {
    background-color: crimson;
    color: skyblue;
    border-color: black;
}

#infinispaghetti button {
    background-color: transparent;
    color: orange;
    border-color: orange;
}

#eternispaghetti button {
    background-color: transparent;
    color: pink;
    border-color: rgb(135, 0, 177);
}